<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="col-5">
                    <div class="logo">
                        <img src="img/footer.png" alt="#">
                    </div>
                </div>
                <nav class="col-7 d-flex ">
                    <ul class="d-flex ">
                        <li><a href="#">Про нас</a></li>
                        <li><img  src="../img/Vector2.png" alt="#"><a href="#">Проєкти</a> </li>
                        <li><a href="#">Потреби</a></li>
                        <li><a href="#">Допомогa</a></li>

                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex">
                <div class="col-6"><a href="">office@lazarhelp.in.ua</a></div>
                <div class="col-6">
                    <p> Пн-Нд 9:00–21:00</p>
                    <p> Гаряча лінія: +38 044 390 67 71</p>
                    <p> WhatsApp, Telegram: +380 (63) 897 37 33 </p>
                </div>
            </div>
        </div>


    </div>
    <div class="row down-text d-flex justify-content-center ">
        <p>© 2022, БО «Благодійний фонд «Лазар» </p>
    </div>


</footer>


