<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between ">
                <div class="col-5">
                    <div class="logo">
                        <img src="../img/Group 243.png" alt="#">
                    </div>
                </div>
                <nav class="col-7 d-flex justify-content-between">
                    <ul class="d-flex justify-content-between flex-nowrap">
                        <li><a href="#">про нас</a></li>
                        <li><a href="#">проєкти</a></li>
                        <li><a href="#">потреби</a></li>
                        <li><a href="#">допомогa</a></li>
                        
                    </ul>
                    <li class="d-flex d-md-justify-content-end "><a href="#"> <img src="../img/Vector.png" alt="#"> UA</a></li>
                </nav>
                <div class="header__burger d-block d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        
       
    </div>
    </div>
    </div>
</header>