<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="col-5">
                    <div class="logo">
                        <img src="../img/Group 243.png" alt="#">
                    </div>
                </div>
                <nav class="col-7 d-flex justify-content-between">
                    <ul class="d-flex justify-content-between">
                        <li><a href="#">Про нас</a></li>
                        <li><a href="#">Проєкти</a></li>
                        <li><a href="#">Потреби</a></li>
                        <li><a href="#">Допомогa</a></li>
                        <li><a href="#"> <img src="../img/Vector.png" alt="#"> UA</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header__burger">

        </div>
    </div>
    </div>
    </div>
</header>


<section>
    <div class="hero ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="col-4">
                        <div class="pages d-flex">
                            <ul class=" d-flex">
                                <li><a href="#">Головна</a> /</li>
                                <li><a href="#">Проекти</a> /</li>
                                <li><a href="#">Протезування</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>