<section class="hero">
    <div class="hero ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="col-4">
                        <div class="pages d-flex">
                            <ul class=" d-flex">
                                <li><a href="#">Головна</a> /</li>
                                <li><a href="#">Проекти</a> /</li>
                                <li><a href="#">Протезування</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="hero__title">Протезування</h1>
            <div class="hero__text">БФ «ЛАЗАР» розпочинає проєкт допомоги українцям, які втратили кінцівки рук <br>
                або ніг від військових дій на території України.</div>
            <div class="hero_information row ">
                <div class="col-12 d-flex ">
                    <div class="col-5 d-flex justify-content-center align-items-center">
                        <p>325</p>
                    </div>
                    <div class="hero__information_text col-7 d-flex justify-content-center">постраждалих подали
                        заявки<br>
                        на протезування</div>
                </div>
            </div>
            <div class="hero_statistic d-flex flex-wrap row">
                <div class="hero__statistic_boxes col-12 d-flex flex-wrap justify-content-between flex-wrap">
                    <div class="col-2 d-flex">
                        <img src="img/v1.png" alt="#">
                        <div
                            class="hero__statistic_boxes_text d-flex flex-column justify-content-center align-items-center">
                            <p>Нижні <br> кінцівки</p>
                            <p class="number">25</p>
                        </div>
                    </div>
                    <div class="col-2 d-flex">
                        <img src="img/V2.svg" alt="#">
                        <div
                            class="hero__statistic_boxes_text d-flex flex-column justify-content-center align-items-center">
                            <p>Верхні <br> кінцівки</p>
                            <p class="number">45</p>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <img class="img-size1" src="img/v3.png" alt="#">
                        <div
                            class="hero__statistic_boxes_text d-flex flex-column justify-content-center align-items-center ">
                            <p>Обличчя</p>
                            <p class="number">50</p>
                        </div>
                    </div>
                    <div class="col-2 d-flex ">
                        <img src="img/v4.png" alt="#">
                        <div
                            class="hero__statistic_boxes_text d-flex flex-column justify-content-center align-items-center">
                            <p>Шкірного <br> покрову</p>
                            <p class="number">40</p>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <img class="img-size2" src="img/v5.png" alt="#">
                        <div
                            class="hero__statistic_boxes_text d-flex flex-column justify-content-center align-items-center">
                            <p>Інше</p>
                            <p class="number">100</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="hero__register d-flex justify-content-center align-items-center  ">
                <div>
                    <p>Реєстр заявок на протезування</p>
                </div>
                <div class="d-flex">
                    <button class="btn">Завантажити</button>
                </div>
            </div>
            <div class="hero_information row2 row ">
                <div class="col-12 d-flex ">
                    <div class="col-5 d-flex justify-content-center align-items-center">
                        <p>59</p>
                    </div>
                    <div class="hero__information_text col-7 d-flex justify-content-center">постраждалих отримали
                        допомогу<br>
                        на протезування</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="form">
    <div class="container">
        <h1>ЗАРЕЄСТРУВАТИСЬ НА ПРОТЕЗУВАННЯ</h1>
        <p>Оберіть рівень протезування*</p>

        <div class="form__check-box d-flex flex-column">
            <div class="row d-flex ">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <div class="col-3 d-flex flex-column justify-content-end align-items-center">
                        <img src="img/p1.png" alt="#">
                        <p>Пальці</p>
                        <input type="checkbox">
                    </div>
                    <div class="col-3 d-flex flex-column justify-content-end align-items-center">
                        <img src="img/p2.png" alt="#">
                        <p>Кисть</p>
                        <input type="checkbox">
                    </div>
                    <div class="col-3 d-flex flex-column justify-content-end align-items-center">
                        <img src="img/p3.png" alt="#">
                        <p>Передпліччя</p>
                        <input type="checkbox">
                    </div>
                    <div class="col-3 d-flex flex-column justify-content-end align-items-center">
                        <img src="img/p4.png" alt="#">
                        <p>Плече</p>
                        <input type="checkbox">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 d-flex flex-column justify-content-end align-items-center">
                    <img src="img/p5.png" alt="#">
                    <p>Стопа</p>
                    <input type="checkbox">
                </div>
                <div class="col-3 d-flex flex-column justify-content-end align-items-center">
                    <img src="img/p6.png" alt="#">
                    <p>Гомілка</p>
                    <input type="checkbox">
                </div>
                <div class="col-3 d-flex flex-column justify-content-end align-items-center">
                    <img src="img/p7.png" alt="#">
                    <p>Стегно</p>
                    <input type="checkbox">
                </div>
                <div class="col-3 d-flex flex-column justify-content-end align-items-center">
                    <img src="img/Frame.png" alt="#">
                    <p>Обличчя</p>
                    <input type="checkbox">
                </div>
            </div>
            <div class="row">
                <div class="col-3 d-flex flex-column justify-content-end align-items-center">
                    <img src="img/p10.svg" alt="#">
                    <p>Шкіра</p>
                    <input type="checkbox">
                </div>
                <div class="col-3 d-flex flex-column justify-content-end align-items-center">
                    <img src="img/p11.png" alt="#">
                    <p>Інше</p>
                    <input type="checkbox">
                </div>

            </div>
        </div>

        <div class="form_input d-flex flex-column  align-items-center">
            <form>
                <input type="text" placeholder="Прізвище, ім’я, по-батькові*" name="lname" value="">
                <input type="text" placeholder="E-mail*" name="lname" value="">
                <input type="text" placeholder="Телефон*" name="lname" value="">
            </form>

        </div>
        <div class="form-radio  ">
            <p>Ви*</p>

            <form class="d-flex  ">
                <input class="form-radio_1" type="radio" name="flexRadioDefault">
                <div class="form-radio_text ">
                    <p>потераілий/ла</p>
                </div>
                <input class="form-radio_1" type="radio" name="flexRadioDefault">
                <div class="form-radio_text ">
                    <p>батьки, опікуни чи рідні особи</p>
                </div>
            </form>

        </div>
        <div class="form_input1   ">
            <form>
                <input type="text" placeholder="Прізвище, ім’я, по-батькові*" name="lname" value="">

            </form>

        </div>

        <div class="form-radio  ">
            <p>Стать*</p>

            <form class="d-flex  align-items-center">
                <input class="form-radio_1" type="radio" name="flexRadioDefault">
                <div class="form-radio_text ">
                    <p>Жіноча</p>
                </div>
                <input class="form-radio_1" type="radio" name="flexRadioDefault">
                <div class="form-radio_text ">
                    <p>Чоловіча</p>
                </div>
            </form>

        </div>
        <div class="form-radio  ">
            <p>Вік*</p>

            <form class="d-flex  align-items-center">
                <input class="form-radio_1" type="radio" name="flexRadioDefault">
                <div class="form-radio_text ">
                    <p>2-11</p>
                </div>
                <input class="form-radio_1" type="radio" name="flexRadioDefault">
                <div class="form-radio_text ">
                    <p>12-17</p>
                </div>
                <input class="form-radio_1" type="radio" name="flexRadioDefault">
                <div class="form-radio_text ">
                    <p>18 і більше</p>
                </div>
            </form>

        </div>
        <div class="d-flex justify-content-center align-items-center">
            <textarea class="form-area form-input" placeholder="Короткий опис, діагноз*"
                aria-label="With textarea"></textarea>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <button class="form__btn_reg">Зареєструватись</button>
        </div>
    </div>