$main-color: #C6DBCC;
$main-green: #C6DBCC;
$second-color: #DEDEDE;
$second-green: #E3F4E8;
$hight_burger_line: 2px;

.header {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 108px;

    .container {
        height: 108px;

        .row {
            margin: 0px;
            height: 108px;
            align-items: center;

            .col-12 {
align-items: center;


                .col-7 {
                    align-items: center;
                    ul {
                        align-items: center;



                        li {
                            list-style: none;


                            a {
                                align-items: center;
                                text-decoration: none;
                                color: black;
                                font-family: 'Roboto Condensed';
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 24px;
                                margin: 0 20px 0 20px;
                                white-space: nowrap;
                                padding: 5px;

                                &:hover {
                                    background: #DEDEDE;
                                    border-radius: 10px;
                                    
                                }
                            }
                        }

                        @media screen and (max-width:990px) {
                            display: none !important;
                        }


                    }
                    @media screen and (max-width:990px) {
                        justify-content: end!important;
                    }
                    li {
                        list-style: none;


                        a {
                            align-items: center;
                            text-decoration: none;
                            color: black;
                            font-family: 'Roboto Condensed';
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 24px;
                            margin: 0 20px 0 20px;
                            white-space: nowrap;
                            padding: 5px;

                            &:hover {
                                background: #DEDEDE;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }



        .header__burger {
            position: relative;
            cursor: pointer;
            width: 30px;
            height: 20px;

            span {
                height: $hight_burger_line;
                width: 20px;
                background-color: rgb(0, 0, 0);
            }

            :first-child {
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.4s;
            }

            :last-child {
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 0.4s;
            }

            :nth-child(2) {
                position: absolute;
                left: 0;
                top: calc(50% - 1px);
                transition: 0.4s;
            }

            &.active {
                :first-child {
                    position: absolute;
                    top: 45%;
                    transform: rotate(45deg);
                    transition: 0.4s;
                }

                :last-child {
                    transform: rotate(-45deg);
                    bottom: 45%;
                    transition: 0.4s;
                }

                :nth-child(2) {
                    display: none;
                    transition: 0.4s;
                }
            }
        }


    }






}